/*
!wp-content/
*/.sass-cache
wp-content/uploads/
wp-content/upgrade/
wp-content/plugins/
wp-content/cache/
wp-content/w3tc-config/
wp-content/themes/**/node_modules/
wp-content/themes/**/bower_components/
wp-content/themes/**/browserSync.json


!databases
!gotyourback.sh
!mysql.config
!*.md
!patterns/

!package.json
!bower.json
!postcss.config.js
!webpack.config.js

*.DS_Store
*/.DS_Store
*/.htaccess
!.gitignore

!gulpFile.js
!README.md
