@import url('https://fonts.googleapis.com/css?family=Work+Sans:ital,400,600,700&display=swap');

// // Typography
$base-font-family: 'Work Sans', sans-serif;;


// Font Weight
$light-font: 300;
$regular-font: 400;
$medium-font: 500;
$bold-font: 700;
$heavy-font: 900;


//brand-colors
$robe: #122161;
$dusk: #405570;
$owl: #4e4e4e;
$cobalt: #1a3e98;
$frost: #f2f5f4;
$blizzard: #faf8ec;
$ice: #77c6dd;
$granite: #bfc9cc;
$sleet: #f9f9f9;
$robin: #889fab;
$slate: #5a6770;
$stone: #d9d9d9;
$gallery: #f0f0f0;
$spacer: #d5e3e8;
$offwhite: #f8f8f8;
$gandalf: #878787;
$wisp: #e5e6e6;
$white: #ffffff;
$mango: #f99d22;
$sunkist: #f2d52b;
$limetime: #c3e436;
$themegreen: #52AB5E;
$black: #000;
$purple: #614975;
