// @import url("https://use.typekit.net/vyt1kqn.css");
//
//
// // Typography
// $base-font-family: effra, sans-serif;;
// $heading-font-family: $base-font-family;
//
// // Font Sizes
// $base-font-size: 1em;
//
// // Line height
// $base-line-height: 1.5;
// $heading-line-height: 1.2;
//
// // Font Weight
// $light-font: 300;
// $regular-font: 400;
// $medium-font: 500;
// $bold-font: 700;
// $heavy-font: 900;


//brand-colors
$robe: #122161;
$dusk: #405570;
$owl: #4e4e4e;
$cobalt: #1a3e98;
$frost: #f2f5f4;
$blizzard: #faf8ec;
$ice: #77c6dd;
$granite: #bfc9cc;
$sleet: #f9f9f9;
$robin: #889fab;
$slate: #5a6770;
$stone: #d9d9d9;
$gallery: #f0f0f0;
$spacer: #d5e3e8;
$offwhite: #f8f8f8;
$gandalf: #878787;
$wisp: #e5e6e6;
$white: #ffffff;
$mango: #f99d22;
$sunkist: #f2d52b;
$limetime: #c3e436;

$purple: #614975;

// $transparent-black-dark: rgba(64, 85, 112, 0.5);
// $hero-bg-overlay: rgba(242, 245, 244, 0.5);
// $landing-page-hero-overlay: rgba(242, 245, 244, 0.8);
// $box-shadow: rgba(0, 0, 0, 0.3);
// $video-overlay:  rgba(90, 103, 112, .7);
//
//
// // Other Sizes
// $base-border-radius: 3px;
// $base-spacing: $base-line-height * 1em;
// $small-spacing: $base-spacing / 2;
// $base-z-index: 0;
//
//
// // Colors
// $blue: #477dca;
// $dark-gray: #333;
// $medium-gray: #999;
// $light-gray: #ddd;
//
//
// // Font Colors
// $base-font-color: $dark-gray;
// $action-color: $blue;
//
// // Border
// $base-border-color: $light-gray;
// $base-border: 1px solid $base-border-color;
//
// // Background Colors
// $base-background-color: #fff;
// $secondary-background-color: tint($base-border-color, 75%);
//
// // Forms
// $form-box-shadow: inset 0 1px 3px rgba(#000, 0.06);
// $form-box-shadow-focus: $form-box-shadow, 0 0 5px adjust-color($action-color, $lightness: -5%, $alpha: -0.3);
//
// // Animations
// $base-duration: 150ms;
// $base-timing: ease;
